@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* div {
    @apply border border-blue-300;
  } */
  @media screen and (max-width: 768px) {
    html {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  html {
    @apply text-gray;
  }
  * {
    @apply text-sm;
  }
  input[type="checkbox"]:disabled,
  input[type="radio"]:disabled {
    @apply cursor-not-allowed opacity-40;
  }
  input[type="checkbox"],
  input[type="radio"] {
    @apply cursor-pointer;
  }
  /* design system 私有属性 */
  hr {
    @apply w-full block;
  }
}

@layer components {
  /* 容器 */
  .container-1280 {
    @apply w-full lg:container 2xl:max-w-screen-xl mx-auto;
  }
  .bg-main {
    @apply bg-cover;
    background-image: url("../../src/images/bg-main.png")
  }
  .disabled {
    @apply opacity-40;
  }
  /* button */
  .btn,
  .btn-lg,
  .btn-sm {
    @apply rounded inline-block border;
  }
  .btn-lg {
    @apply px-6 py-2 text-base;
  }
  .btn {
    @apply px-4 py-1.5 text-sm;
  }
  .btn-sm {
    @apply px-2 py-1 text-sm;
  }
  .btn-primary:disabled,
  .btn-secondary:disabled,
  .btn-link:disabled,
  .btn-gray:disabled {
    @apply opacity-40;
  }
  .btn-primary,
  .btn-primary:disabled:hover,
  .btn-primary:disabled:active {
    @apply bg-brand text-light-title border-brand;
  }
  .btn-primary:hover {
    @apply bg-brand-dark border-brand-dark;
  }
  .btn-primary:active {
    @apply bg-brand-darkest border-brand-darkest;
  }
  .btn-secondary,
  .btn-secondary:disabled:hover,
  .btn-secondary:disabled:active {
    @apply bg-white  border-gray-border text-gray-title;
  }
  .btn-secondary:hover {
    @apply text-brand-dark border-brand-dark;
  }
  .btn-secondary:active {
    @apply text-brand-darkest border-brand-darkest;
  }
  .btn-gray,
  .btn-gray:disabled:hover,
  .btn-gray:disabled:active {
    @apply bg-gray  border-gray text-light-title;
  }
  .btn-gray:hover {
    @apply bg-gray-title border-gray-title;
  }
  .btn-gray:active {
    @apply bg-black border-black;
  }
  .btn-link,
  .btn-link:disabled:hover,
  .btn-link:disabled:active {
    @apply text-brand border-0;
  }
  .btn-link:hover {
    @apply text-brand-dark;
  }
  .btn-link:active {
    @apply text-brand-darkest;
  }
  .btn-disabled {
    @apply bg-gray-bg text-gray-disable border-gray-border cursor-not-allowed;
  }
  .link-primary {
    @apply text-brand;
  }
  .link-primary:hover {
    @apply text-brand-dark;
  }
  .link-primary:active {
    @apply text-brand-darkest;
  }

  /* checkbox 默认样式 */
  .checkbox {
    @apply appearance-none inline-block align-text-bottom h-4 w-4 rounded border border-gray-border;
  }
  .checkbox:hover {
    @apply border-brand-dark;
  }
  .checkbox:checked,
  .checkbox:checked:disabled {
    @apply border-2 border-brand bg-brand bg-cover;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M3.5 11L8.7192 17.1681C8.87036 17.3468 9.14192 17.3581 9.30739 17.1926L20 6.5' stroke='white' stroke-width='3' stroke-linecap='round'/></svg>");
  }

  /* .checkbox:checked::after {
    @apply absolute;
    line-height: 0;
    top: 3px;
    left: 2px;
    content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='8' width='10'><path d='M9.23674 0.818471C8.79807 0.369566 8.0759 0.369664 7.63736 0.818688L3.74977 4.79919L2.36294 3.37878C1.92429 2.9295 1.20179 2.92942 0.763033 3.3786V3.3786C0.338733 3.81298 0.338672 4.50661 0.762895 4.94107L3.39389 7.63553C3.58905 7.8354 3.9105 7.83541 4.10567 7.63555L9.237 2.38089C9.66125 1.94644 9.66114 1.25278 9.23674 0.818471V0.818471Z' fill='white'/></svg>");
  } */

  /* radio 默认样式 */
  .radio {
    @apply appearance-none inline-block align-text-bottom w-4 h-4 rounded-full border-2 border-gray-border;
  }
  .radio:hover {
    @apply border-brand;
  }
  .radio:checked,
  .radio:checked:disabled {
    @apply border-brand bg-white;
    border-width: 5px;
  }

  /* css tab 格式如下：
        <div class="tab-container">
            <input type="radio" name="tab" id="tab1">
            <label class = "tab-item" for="tab1">普通会员</label>
            <input type="radio" name="tab" id="tab2">
            <label class = "tab-item" for="tab2">云端会员</label>
            <div class="tab-contents">
                <div class="tab-content">
                    tab1
                </div>
                <div class="tab-content">
                    tab2
                </div>
            </div>
      </div> */
  .tab-container {
    font-size: 0;
  }
  .tab-container * {
    @apply text-sm;
  }
  .tab-container input {
    @apply hidden;
  }
  .tab-container label {
    @apply cursor-pointer inline-block relative;
  }
  .tab-content {
    @apply hidden;
  }
  .tab-container
    > input:nth-of-type(1):checked
    ~ .tab-contents
    > .tab-content:nth-child(1),
  .tab-container
    > input:nth-of-type(2):checked
    ~ .tab-contents
    > .tab-content:nth-child(2),
  .tab-container
    > input:nth-of-type(3):checked
    ~ .tab-contents
    > .tab-content:nth-child(3),
  .tab-container
    > input:nth-of-type(4):checked
    ~ .tab-contents
    > .tab-content:nth-child(4),
  .tab-container
    > input:nth-of-type(5):checked
    ~ .tab-contents
    > .tab-content:nth-child(5),
  .tab-container
    > input:nth-of-type(6):checked
    ~ .tab-contents
    > .tab-content:nth-child(6) {
    @apply block;
  }

  /* input group
  <div class="input-group border-error">
    <img class="h-6 px-1" src="./src/icons/icon-profile.svg" alt="">
    <input class="py-2" type="password" placeholder="请输入" />
    <button class="input-clear mr-2"></button>
    <button class="input-show-password  mr-1"></button>
    <div class="error-info">错误提示</div>  
  </div>*/
  .input-group {
    @apply border rounded-md border-gray-border flex flex-row items-center relative flex-wrap px-1;
  }
  .input-group > input {
    @apply outline-none flex-1 bg-transparent rounded-md py-2 px-1;
    min-width: 1rem;
  }
  .input-error {
    @apply w-full h-0 overflow-visible text-error text-xs leading-loose text-left;
  }
  .input-group:hover {
    @apply border-brand;
  }
  .input-clear,
  .input-show-password {
    @apply opacity-60 cursor-pointer;
  }
  .input-clear:hover,
  .input-show-password:hover {
    @apply opacity-100;
  }
  .input-icon {
    @apply px-0.5 inline-block;
  }
  .input-clear {
    @apply hidden h-4 w-4 px-0.5 bg-cover;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='24' height='24' fill='none'/><circle cx='12' cy='12' r='9' fill='black' fill-opacity='0.6'/><rect x='15.2432' y='8' width='1.6' height='10.4818' rx='0.8' transform='rotate(45 15.2432 8)' fill='white'/><rect width='1.6' height='10.4818' rx='0.8' transform='matrix(-0.707107 0.707107 0.707107 0.707107 8.83136 8)' fill='white'/></svg>");
  }
  .input-show-password {
    @apply h-6 w-6 px-0.5 bg-left bg-cover;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg width='48' height='24' viewBox='0 0 48 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M26.6227 11.6787C27.2062 9.9724 29.5817 4.5 36 4.5C42.4183 4.5 44.7938 9.9724 45.3773 11.6787C45.4495 11.8898 45.4495 12.1102 45.3773 12.3213C44.7938 14.0276 42.4183 19.5 36 19.5C29.5817 19.5 27.2062 14.0276 26.6227 12.3213C26.5505 12.1102 26.5505 11.8898 26.6227 11.6787Z' stroke='black'/><circle cx='36' cy='12' r='3.5' stroke='black'/><path d='M12 13V17' stroke='black' stroke-linecap='round'/><path d='M4 8C6.08747 11.0997 8.90265 13 12 13C15.0973 13 17.9125 11.0997 20 8' stroke='black' stroke-linecap='round'/><path d='M7.13969 12.1182L4.70843 14.8685' stroke='black' stroke-linecap='round'/><path d='M16.8617 12.1182L19.293 14.8685' stroke='black' stroke-linecap='round'/></svg>");
  }
  /* 对话框 */
  .modal-box {
    @apply bg-white rounded-xl shadow-lg p-8 pt-5 mx-auto relative;
  }
  .modal-close {
    @apply rounded-lg absolute right-4 top-4 h-8 w-8 bg-center bg-no-repeat;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' clip-rule='evenodd' d='M19.6464 3.64645C19.8417 3.45118 20.1583 3.45118 20.3536 3.64645C20.5488 3.84171 20.5488 4.15829 20.3536 4.35355L12.7071 12L20.3536 19.6464C20.5488 19.8417 20.5488 20.1583 20.3536 20.3536C20.1583 20.5488 19.8417 20.5488 19.6465 20.3536L12 12.7071L4.35355 20.3536C4.15829 20.5488 3.84171 20.5488 3.64645 20.3536C3.45118 20.1583 3.45118 19.8417 3.64645 19.6464L11.2929 12L3.64645 4.35355C3.45119 4.15829 3.45119 3.84171 3.64645 3.64645C3.84171 3.45118 4.15829 3.45118 4.35356 3.64645L12 11.2929L19.6464 3.64645Z' fill='black'/></svg>");
  }
  .modal-close:hover {
    @apply bg-gray-bglight;
  }
  .modal-close:active {
    @apply bg-gray-bg;
  }

  /* 以下为index.html私有属性 */
  /* 以下为index.html私有属性 */
  /* 以下为index.html私有属性 */
  /* 以下为index.html私有属性 */
  /* 以下为index.html私有属性 */
  /* 以下为index.html私有属性 */
  .title {
    @apply mt-6 ml-4 text-lg text-gray-title;
  }
  .name {
    @apply text-gray-title font-bold;
  }
  .class {
    @apply text-warning;
  }
  .info {
    @apply text-gray-secondary;
  }
  .btn-code {
    @apply flex items-center mx-auto h-8 px-4 border rounded text-gray-secondary;
  }
  .btn-code:hover {
    @apply border-gray-secondary;
  }
  .btn-code:active {
    @apply bg-gray-bg;
  }
  .btn-code::before {
    @apply inline-block;
    line-height: 0;
    content: url("data:image/svg+xml;charset=UTF-8, <svg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' width='24' height='24' focusable='false' aria-hidden='true'><path fill-rule='evenodd' clip-rule='evenodd' d='M14.4885 4.18603C14.5912 3.364 14.0081 2.61431 13.1861 2.51156C12.3641 2.4088 11.6144 2.99189 11.5116 3.81392L9.51162 19.8139C9.40886 20.636 9.99195 21.3856 10.814 21.4884C11.636 21.5911 12.3857 21.0081 12.4885 20.186L14.4885 4.18603ZM8.06066 5.93931C8.64645 6.5251 8.64645 7.47485 8.06066 8.06063L4.12132 12L8.06066 15.9393C8.64645 16.5251 8.64645 17.4748 8.06066 18.0606C7.47487 18.6464 6.52513 18.6464 5.93934 18.0606L0.93934 13.0606C0.353553 12.4748 0.353553 11.5251 0.93934 10.9393L5.93934 5.93931C6.52513 5.35353 7.47487 5.35353 8.06066 5.93931ZM15.9393 5.93931C16.5251 5.35353 17.4749 5.35353 18.0607 5.93931L23.0607 10.9393C23.6464 11.5251 23.6464 12.4748 23.0607 13.0606L18.0607 18.0606C17.4749 18.6464 16.5251 18.6464 15.9393 18.0606C15.3536 17.4748 15.3536 16.5251 15.9393 15.9393L19.8787 12L15.9393 8.06063C15.3536 7.47485 15.3536 6.5251 15.9393 5.93931Z' fill='gray'></path></svg>");
  }
  .code code {
    max-height: 200px;
  }
  .btn-code + .code {
    display: none;
  }
  .btn-code:hover + .code,
  .btn-code:active + .code,
  .code:hover {
    @apply block absolute bottom-12 z-30;
    max-width: 400px;
    max-height: 200px;
  }
  .color-box,
  .size-box,
  .icon-box,
  .component-box {
    @apply flex flex-row flex-wrap;
  }
  .color-box > div,
  .size-box > div,
  .icon-box > div,
  .component-box > div {
    @apply bg-white flex flex-col justify-center text-center m-4 p-4 relative;
  }
  .color-box > div > div,
  .size-box > div > div,
  .icon-box > div div,
  .component-box > div > div {
    @apply mx-auto;
  }
  .widget-box {
   @apply flex flex-col;
  }
  .widget-box > div {
    @apply relative text-left flex flex-col m-4;
   }
   .widget-box .btn-code{
     @apply mx-0 w-16 bg-white;
   }
  .widget {
    @apply p-8 border border-white;
  }
  .info-group{
    @apply px-8 py-4 bg-white relative flex flex-col space-y-2;
  }
  .info-group .code > code {
    @apply h-80;
    width:700px;
  }

  .dark > div {
    @apply bg-gray text-light;
  }
  .dark .name {
    @apply text-light-title;
  }
  .dark .info {
    @apply text-light-secondary;
  }
  .color {
    @apply w-24 h-24;
  }
  .color-dark {
    @apply w-32 h-32 p-4 bg-gray;
  }
  .color-dark > div {
    @apply w-full h-full;
  }
  .font {
    @apply h-32 flex items-center w-40;
  }
  .font > span {
    @apply border-t border-b border-warning inline-block w-full;
  }
  .icon {
    @apply w-24 h-24 flex items-center justify-center;
  }
  .icon:hover {
    @apply bg-gray-bg;
  }
  .dark .icon:hover {
    @apply bg-light-bg;
  }
  .icon:hover img {
    @apply border border-blue-300;
  }
  .component,
  .space-row,
  .space-col {
    @apply h-32 flex items-center justify-center w-52;
  }
  .component-box .class {
    @apply w-full;
  }
  .space-row > div {
    @apply border border-t-0 border-b-0 border-warning bg-warning-bg h-20;
  }
  .space-col > div {
    @apply border border-r-0 border-l-0 border-warning bg-warning-bg w-20;
  }


  /* widget 专属样式 */
  /* widget 专属样式 */
  /* widget 专属样式 */
  /* widget 专属样式 */
  /* widget 专属样式 */
  /* widget 专属样式 */

 
  /* 简洁tab css */
  @media screen and (min-width: 768px){
    .simple-tab > .tab-container > input[type="radio"]:checked + label::after {
      content: "";
      position: absolute;
      left: 4rem;
      bottom: -2px;
      width: 2rem;
      height: 3px;
      background: #5033ff;
      border-radius: 4px;
      z-index: 30;
    }
  }
  .simple-tab > .tab-container > input[type="radio"]:checked + label {
    color: #5033ff;
  }
  

  
}
